/* non highlighted code colors */
/* line 48, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre {
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36 "" !important;
  color: #93a1a1 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 58, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre span {
  color: #93a1a1 !important;
}
/* line 59, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre span {
  font-style: normal !important;
  font-weight: normal !important;
}
/* line 61, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .c {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 62, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 63, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 64, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 65, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 66, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 67, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .k {
  color: #cb4b16 !important;
}
/* line 68, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 69, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .p {
  color: #93a1a1 !important;
}
/* line 70, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 71, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}
/* line 72, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
/* line 73, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 75, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gh {
  color: #586e75 !important;
}
/* line 76, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}
/* line 77, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
/* line 80, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 81, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .gu {
  color: #6c71c4 !important;
}
/* line 83, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 84, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .kd {
  color: #268bd2 !important;
}
/* line 85, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 86, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 87, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .kt {
  color: #2aa198 !important;
}
/* line 88, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .n {
  color: #268bd2 !important;
}
/* line 89, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .na {
  color: #268bd2 !important;
}
/* line 90, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nb {
  color: #859900 !important;
}
/* line 91, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nc {
  color: #d33682 !important;
}
/* line 92, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .no {
  color: #b58900 !important;
}
/* line 94, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nl {
  color: #859900 !important;
}
/* line 95, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 96, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 97, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nn {
  color: #b58900 !important;
}
/* line 98, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 99, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nx {
  color: #b58900 !important;
}
/* line 102, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .vg {
  color: #268bd2 !important;
}
/* line 103, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .vi {
  color: #268bd2 !important;
}
/* line 104, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .nv {
  color: #268bd2 !important;
}
/* line 106, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .mf {
  color: #2aa198 !important;
}
/* line 107, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .m {
  color: #2aa198 !important;
}
/* line 108, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .mh {
  color: #2aa198 !important;
}
/* line 109, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .mi {
  color: #2aa198 !important;
}
/* line 111, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .s {
  color: #2aa198 !important;
}
/* line 114, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .sd {
  color: #2aa198 !important;
}
/* line 115, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .s2 {
  color: #2aa198 !important;
}
/* line 116, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .se {
  color: #dc322f !important;
}
/* line 118, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .si {
  color: #268bd2 !important;
}
/* line 120, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .sr {
  color: #2aa198 !important;
}
/* line 121, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre .s1 {
  color: #2aa198 !important;
}
/* line 124, /Users/sdavis/Work/sass_compass_unleashed/assets/stylesheets/_syntax.scss */
.highlight pre div .gd, .highlight pre div .gd .x, .highlight pre div .gi, .highlight pre div .gi .x {
  display: inline-block;
  width: 100%;
}
